html {
	margin: auto;
	max-width: 750px;
}

body {
	background-color: #DEE1E9;
	font-family: 'Source Sans Pro', sans-serif;
}

table, tr {
	border-collapse: collapse;
	border-bottom: 3px solid #888888;
}

td {
	vertical-align: top;
}
